@import url('https://fonts.googleapis.com/css?family=STSong:400|Panton:700|Oriya+MN:400|Times+New Roman:400|Helvetica+Neue:700');


/* ANIMA screen - iphone-xxs9 */
.font-class-1 {
  font-family         : STSong, Helvetica, Arial, serif;
  font-style          : normal;
  font-weight         : 400;
}
.font-class-2 {
  font-family         : Panton, Helvetica, Arial, serif;
  font-style          : normal;
  font-weight         : 700;
}
.font-class-3 {
  font-family         : Oriya MN, Helvetica, Arial, serif;
  font-style          : normal;
  font-weight         : 400;
}
.font-class-4 {
  font-family         : Helvetica Neue, Helvetica, Arial, serif;
  font-style          : normal;
  font-weight         : 700;
}
.font-class-5 {
  color               : var(--auto-palette-color-4);
  font-family         : Times New Roman, Helvetica, Arial, serif;
  font-size           : 30.0px;
  font-style          : normal;
  font-weight         : 400;
  line-height         : 30.0px;
}
:root {
  --auto-palette-color-1: rgba(119,139,217,1.0);
  --auto-palette-color-2: rgba(112,112,112,1.0);
  --auto-palette-color-3: rgba(255,255,255,1.0);
  --auto-palette-color-4: rgba(4,77,155,1.0);
  --auto-palette-color-5: rgba(68,68,68,1.0);
  --auto-palette-color-6: rgba(240,246,247,1.0);
  --auto-palette-color-7: rgba(62,55,54,0.937254901961);
}
.iphone-xxs9-L79aFr .overlap-group-rleKxg {
  background-color    : rgba(255,255,255,0);
  height              : 160px;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  width               : 375px;
}
.iphone-xxs9-L79aFr .overlap-group1-J1OrAN {
  background-color    : rgba(255,255,255,0);
  height              : 440px;
  left                : -12px;
  position            : absolute;
  top                 : 406px;
  width               : 399px;
}
.iphone-xxs9-L79aFr .overlap-group1-J1OrAN .rectngulo4242-h3WyJZ {
  background-color    : rgba(255,255,255,0);
  height              : 162px;
  left                : 0px;
  position            : absolute;
  top                 : 278px;
  width               : 399px;
}
.iphone-xxs9-L79aFr .overlap-group1-J1OrAN .a7151-oLaMgi {
  background-color    : rgba(240,246,247,0);
  height              : 70px;
  left                : 70px;
  position            : absolute;
  top                 : 314px;
  width               : 59px;
}
.iphone-xxs9-L79aFr .overlap-group1-J1OrAN .a561-Vm0S9G {
  background-color    : rgba(240,246,247,0);
  height              : 45px;
  left                : 83px;
  position            : absolute;
  top                 : 317px;
  width               : 33px;
}
.iphone-xxs9-L79aFr .cetang7-0VwF2C {
  background-color    : rgba(255,255,255,0);
  border-radius       : 18.0px;
  height              : 104px;
  left                : 30px;
  position            : absolute;
  top                 : 265px;
  width               : 139px;
}
.iphone-xxs9-L79aFr .overlap-group1-J1OrAN .ability-to-pack-and-unpack-the-things-to-lift-and-carry-around-ability-to-sit-or-lean-on-when-travelers-are-tired-wheels-can-push-the-suitcase-moving-instead-of-carrying-it-all-along-the-zipper-of-the-suitcase-can-close-it-open-the-second-layer-of-z8-sGCcSj {
  background-color    : rgba(68,68,68,0);
  color               : var(--auto-palette-color-5);
  font-family         : "Oriya MN", Helvetica, Arial, serif;
  font-size           : 15.0px;
  height              : 321px;
  left                : 42px;
  letter-spacing      : 0.00px;
  line-height         : 15.0px;
  overflow            : hidden;
  position            : absolute;
  text-align          : left;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : 317px;
}
.iphone-xxs9-L79aFr .ability-to-pack-and-unpack-the-things-to-lift-and-carry-around-ability-to-sit-or-lean-on-when-travelers-are-tired-wheels-can-push-the-suitcase-moving-instead-of-carrying-it-all-along-the-zipper-of-the-suitcase-can-close-it-open-the-second-layer-of-z8-sGCcSj .span0-6iBSc0 {
  color               : rgba(112,112,112,1.0);
  font-family         : Oriya MN, Helvetica, Arial, serif;
  font-style          : normal;
  font-weight         : 400;
}
.iphone-xxs9-L79aFr .ability-to-pack-and-unpack-the-things-to-lift-and-carry-around-ability-to-sit-or-lean-on-when-travelers-are-tired-wheels-can-push-the-suitcase-moving-instead-of-carrying-it-all-along-the-zipper-of-the-suitcase-can-close-it-open-the-second-layer-of-z8-sGCcSj .span1-b02FxO {
  color               : rgba(68,68,68,1.0);
  font-family         : Oriya MN, Helvetica, Arial, serif;
  font-style          : normal;
  font-weight         : 400;
}
.iphone-xxs9-L79aFr .overlap-group1-J1OrAN .icon-ionic-ios-arrow-forward9-C2q9u1 {
  background-color    : rgba(119,139,217,0);
  height              : 24px;
  left                : 316px;
  position            : absolute;
  top                 : 335px;
  width               : 17px;
}
.iphone-xxs9-L79aFr .a8510-rE2VoP {
  background-color    : rgba(255,255,255,0);
  height              : 57px;
  left                : 30px;
  position            : absolute;
  top                 : 188px;
  transform           : rotate(0deg);
  width               : 57px;
}
.iphone-xxs9-L79aFr .a8510-rE2VoP .a501-kgOnNh {
  background-color    : rgba(255,255,255,0);
  height              : 117px;
  left                : -30px;
  position            : absolute;
  top                 : -20px;
  transform           : rotate(0deg);
  width               : 117px;
}
.iphone-xxs9-L79aFr .a8510-rE2VoP .a8311-sAZptL {
  background-color    : rgba(255,255,255,0);
  height              : 30px;
  left                : 17px;
  position            : absolute;
  top                 : 14px;
  transform           : rotate(0deg);
  width               : 21px;
}
.iphone-xxs9-L79aFr .a8510-rE2VoP .a8311-sAZptL .a1301-iMBwOX {
  background-color    : rgba(240,246,247,0);
  height              : 56px;
  left                : -14px;
  position            : absolute;
  top                 : -3px;
  transform           : rotate(0deg);
  width               : 48px;
}
.iphone-xxs9-L79aFr .a8510-rE2VoP .a8311-sAZptL .a1111-UmxHWV {
  background-color    : rgba(240,246,247,0);
  height              : 30px;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  transform           : rotate(0deg);
  width               : 21px;
}
.iphone-xxs9-L79aFr .overlap-group1-J1OrAN .home11-884GVw {
  background-color    : rgba(62,55,54,0);
  color               : var(--auto-palette-color-7);
  font-size           : 12.0px;
  height              : 16px;
  left                : 83px;
  line-height         : 12.0px;
  position            : absolute;
  text-align          : left;
  top                 : 347px;
  transform           : rotate(0deg);
  width               : 36px;
}
.iphone-xxs9-L79aFr {
  background-color    : var(--auto-palette-color-6);
  height              : 812.0px;
  overflow            : hidden;
  position            : relative;
  width               : 375.0px;
}
.iphone-xxs9-L79aFr .overlap-group-rleKxg .a304-zt8uY8 {
  background-color    : rgba(169,200,246,0);
  border-radius       : 50.0px;
  height              : 160px;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  width               : 375px;
}
.iphone-xxs9-L79aFr .overlap-group-rleKxg .a731-bHbLc6 {
  background-color    : rgba(169,200,246,0);
  height              : 105px;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  width               : 160px;
}
.iphone-xxs9-L79aFr .a872-rRrowm {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : inline-flex;
  flex-direction      : row;
  height              : 128px;
  justify-content     : flex-start;
  left                : 220px;
  position            : absolute;
  top                 : 241px;
  transform           : rotate(0deg);
  width               : auto;
}
.iphone-xxs9-L79aFr .a872-rRrowm .a202-lhl4u3 {
  background-color    : rgba(255,255,255,0);
  border-radius       : 12.0px;
  flex-shrink         : 0;
  height              : 128px;
  position            : relative;
  transform           : rotate(0deg);
  width               : 101px;
}
.iphone-xxs9-L79aFr .affordance3-L7rl53 {
  background-color    : rgba(119,139,217,0);
  color               : var(--auto-palette-color-1);
  font-size           : 20.0px;
  height              : auto;
  left                : 102px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  top                 : 206px;
  transform           : rotate(0deg);
  width               : auto;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  animation-delay     : 0s;
}
@keyframes anima-reveal {
  from {
    opacity             : 0;
  }
  to {
    opacity             : 1;
  }
}
a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-component-wrapper a,
.anima-screen a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
.anima-screen textarea:focus,
.anima-screen input:focus {
  outline             : none;
}
.anima-screen div {
  -webkit-text-size-adjust: none;
}
.anima-container-center-vertical,
.anima-container-center-horizontal {
  pointer-events      : none;
  display             : flex;
  flex-direction      : row;
  padding             : 0;
  margin              : 0;
}
.anima-container-center-vertical {
  align-items         : center;
  height              : 100%;
}
.anima-container-center-horizontal {
  justify-content     : center;
  width               : 100%;
}
.anima-container-center-vertical > *,
.anima-container-center-horizontal > * {
  pointer-events      : auto;
  flex-shrink         : 0;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}